<?xml version="1.0"?><root><sourceURL>https://www.oneplace.com/ministries/adventures-in-odyssey/listen/</sourceURL><dateFormat>{0:MMMM d, yyyy}</dateFormat><fileExtension>.mp3</fileExtension><titleStart>&lt;div class="title" title=""&gt;</titleStart><titleEnd>&lt;label class="duration"&gt;</titleEnd><fullPathToFiles /><indexFileName>index.txt</indexFileName><normalMode xmlns="Number of files to download normally">3</normalMode></root>