<?xml version="1.0"?><root><sourceURL>https://www.focusonthefamily.com/media/adventures-in-odyssey##latest-episode</sourceURL><dateFormat>MM/dd/yyyy</dateFormat><fileExtension>.mp3</fileExtension><titleStart>&lt;div class="title" title=""&gt;</titleStart><titleEnd>&lt;label class="duration"&gt;</titleEnd><fullPathToFiles /><indexFileName>index.txt</indexFileName><normalMode xmlns="Number of files to download normally">4</normalMode></root>